<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanhwa_tae.firstserver.like.query.mapper.LikeMapper">

    <select id="selectLikes" resultType="com.hanhwa_tae.firstserver.like.query.dto.response.LikeDto">
        SELECT
            l.target_id,
        CASE
            WHEN l.target_type = 'PLACE' THEN p.title
            WHEN l.target_type = 'GOODS' THEN g.title
            WHEN l.target_type = 'PACKAGE' THEN pkg.title
            ELSE NULL
        END AS targetName
        FROM `like` l
        LEFT JOIN place p ON l.target_type = 'PLACE' AND l.target_id = p.place_id
        LEFT JOIN goods g ON l.target_type = 'GOODS' AND l.target_id = g.goods_id
        LEFT JOIN package pkg ON l.target_type = 'PACKAGE' AND l.target_id = pkg.package_id
        WHERE l.user_id = #{userId}
        <if test="req.targetType != null and req.targetType != ''">
            AND l.target_type = #{req.targetType}
        </if>
        ORDER BY l.like_id DESC
        LIMIT #{req.limit} OFFSET #{req.offset}
    </select>

    <select id="countLikes" resultType="long">
        SELECT COUNT(*)
        FROM `like` a
        <choose>
            <when test="req.targetType == 'GOODS'">
                JOIN goods b ON (a.target_id = b.goods_id)
            </when>
            <when test="req.targetType == 'PLACE'">
                JOIN place b ON (a.target_id = b.place_id)
            </when>
            <when test="req.targetType == 'PACKAGE'">
                JOIN package b ON (a.target_id = b.package_id)
            </when>
            <otherwise>
                JOIN (SELECT NULL AS title) b ON false
            </otherwise>
        </choose>
        <where>
            <if test="req.targetType != null">
                AND a.target_type = #{req.targetType}
            </if>
            <if test="userId != null">
                AND a.user_id = #{userId}
            </if>
        </where>
    </select>
</mapper>