<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanhwa_tae.firstserver.user.query.mapper.UserMapper">
    <select id="findUserNoByUserId" resultType="Long">
        SELECT
        user_no
        FROM user_id = #{user_id}
    </select>

    <select id="findUserInfoByUserId" resultType="com.hanhwa_tae.firstserver.user.query.dto.response.UserResponse">
        SELECT
        a.user_id
        , a.username
        , a.email
        , a.gender
        , b.birth
        , b.phone
        , b.address
        FROM user a
        JOIN user_info b ON (a.user_no = b.user_no)
        WHERE a.user_id = #{ userId }
        AND a.is_deleted = 'N'
    </select>

    <select id="findAllRank" resultType="com.hanhwa_tae.firstserver.user.command.domain.aggregate.Rank">
        SELECT
        rank_name
        , point_rate
        FROM rank
    </select>

    <update id = "updatePoint">
        UPDATE user_info
        SET point = point + #{point}
        WHERE user_no = #{user_no}


    </update>



</mapper>