server:
  port: 8000
spring:
  application:
    name: gateway-server
  profiles:
    active: local
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    gateway:
      routes:
        - id: first-server
          uri: lb://FIRST-SERVER
          predicates:
            - Path=/api/v1/s1/**
          filters:
            - RewritePath=/api/v1/s1/(?<segment>.*), /$\{segment}
            - name: CircuitBreaker
              args:
                name: userServiceCB
                fallbackUri: forward:/fallback/user
        - id: second-server
          uri: lb://SECOND-SERVER
          predicates:
            - Path=/api/v1/s2/**
          filters:
            - RewritePath=/api/v1/s2/(?<segment>.*), /$\{segment}
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka