<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanhwa_tae.secondserver.user.me.query.mapper.MyPageMapper">

    <!-- 패키지 구매 내역 조회 -->
    <select id="findPackageOrderHistoryByUserNo" resultType="com.hanhwa_tae.secondserver.user.me.query.dto.PackageOrderHistoryDTO">
        SELECT
            o.order_id,
            o.ordered_at,
            oh.quantity,
            p.title,
            p.detail,
            p.price,
            p.start_date,
            p.end_date,
            p.guide_name,
            o.is_confirmed
        FROM order_history oh
        JOIN `order` o ON o.order_id = oh.order_id
        JOIN package p ON oh.target_type = 'PACKAGE' AND oh.target_id = p.package_id
        WHERE user_no = #{userNo}
        ORDER BY o.ordered_at DESC;
    </select>

    <!-- 기념품 구매 내역 조회 -->
    <select id="findGoodsOrderHistoryByUserNo" resultType="com.hanhwa_tae.secondserver.user.me.query.dto.GoodsOrderHistoryDTO">
        SELECT
            o.order_id,
            o.ordered_at,
            oh.quantity,
            g.title,
            g.detail,
            g.price,
            o.shipping_no,
            o.address,
            o.receiver,
            o.receiver_phone,
            oh.arrivalDate,
            o.is_confirmed
        FROM `order` o
        JOIN order_history oh ON o.order_id = oh.order_id
        JOIN goods g ON oh.target_type = 'GOODS' AND oh.target_id = g.goods_id
        WHERE user_no = #{userNo}
        ORDER BY o.ordered_at DESC;
    </select>

    <!-- 내 리뷰 조회 -->
    <select id="findReviewByUserNoAndTargetType" resultType="com.hanhwa_tae.secondserver.user.query.dto.response.UserReviewDTO">
        SELECT
        review_id
        , target_id
        , target_type
        , detail
        , created_at
        , rating
        , user_no
        FROM
        review
        WHERE
        target_type = #{targetType}
        AND
        user_no = #{ userNo }
        AND
        is_deleted = 'N'
        ORDER BY updated_at DESC
    </select>
    <!-- 내 댓글 조회-->
    <select id="findCommentByUserNo" resultType="com.hanhwa_tae.secondserver.user.query.dto.response.UserCommentDTO">
        SELECT
        comment_id
        , content
        , created_at
        , updated_at
        , travel_mate_post_id
        , parent_comment_id
        FROM
        comment
        WHERE
        user_no = #{user_no}
        AND
        is_deleted = 'N'
    </select>

    <!-- 배송지 목록 조회 -->
    <select id="findDeliveryAddressByUserNo" resultType="com.hanhwa_tae.secondserver.delivery.query.dto.response.DeliveryAddressDTO">
        SELECT
            u.user_no,
            da.receiver,
            da.receiver_phone,
            da.address,
            da.default_address,
            da.zipcode,
            da.detail_address
        FROM delivery_address da
        JOIN user u
            ON u.user_no = da.user_no
        WHERE da.user_no = #{userNo}
    </select>

    <!-- 개별 배송지 조회 -->
    <select id="findDeliveryAddressById" resultType="com.hanhwa_tae.secondserver.delivery.query.dto.response.DeliveryAddressDTO">
        SELECT
        u.user_no,
        da.receiver,
        da.receiver_phone,
        da.address,
        da.default_address,
        da.zipcode,
        da.detail_address
        FROM delivery_address da
        JOIN user u ON u.user_no = da.user_no
        WHERE da.delivery_address_id = #{deliveryAddressId}
    </select>
</mapper>