<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanhwa_tae.firstserver.payment.query.mapper.PaymentMapper">
    <select id="findOrderByUserNo" resultType="com.hanhwa_tae.firstserver.cart.command.domain.aggregate.Order">

        SELECT
        order_id,
        order_code
        from `order`
        where user_no = #{ user_no }
        order by ordered_at DESC
        LIMIT 1

    </select>

    <select id="findOrderByOrderId" resultType="com.hanhwa_tae.firstserver.cart.query.dto.response.OrderHistoryResponse">

        SELECT
        order_history_id,
        order_history_type,
        target_id,
        quantity
        FROM order_history
        WHERE order_id = #{order_id}

    </select>

    <select id="findOrderInfoByUserNo" resultType="com.hanhwa_tae.firstserver.payment.query.dto.response.OrderResponse">
        SELECT
        order_id,
        ordered_at,
        total_price,
        total_amount,
        shipping_no,
        address,
        receiver,
        receiver_phone,
        order_code,
        is_confirmed
        FROM `order`
        WHERE user_no = #{userNo}

    </select>

    <select id="findOrderHistoryByUserNo" resultType="com.hanhwa_tae.firstserver.payment.query.dto.response.OrderHistoriesResponse">
        SELECT
        oh.order_history_type,
        oh.target_id,
        oh.quantity,
        oh.is_confirmed,
        o.order_id,
        o.order_at,
        CASE
        WHEN oh.order_history_type = 'GOODS' THEN g.price
        WHEN oh.order_history_type = 'PACKAGE' THEN p.price
        ELSE NULL
        END AS price
        FROM `order` o
        JOIN order_history oh ON o.order_id = oh.order_id
        LEFT JOIN goods g ON oh.order_history_type = 'GOODS' AND oh.target_id = g.goods_id
        LEFT JOIN package p ON oh.order_history_type = 'PACKAGE' AND oh.target_id = p.package_id
        WHERE o.user_no = #{userNo}



    </select>
</mapper>