<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanhwa_tae.secondserver.user.query.mapper.UserMapper">
    <select id="findRankIdByRankName" resultType="com.hanhwa_tae.secondserver.user.command.domain.aggregate.Rank">
        SELECT rank_id FROM rank WHERE rank_name = #{ rankName }
    </select>

    <select id="findUserByUserId" resultType="com.hanhwa_tae.secondserver.user.command.domain.aggregate.User">
        SELECT
          a.user_no
        , a.user_id
        , a.password
        , b.rank_id as "rank.rank_id"
        , b.rank_name as "rank.rank_name"
        FROM user a
        JOIN rank b ON (a.rank_id=b.rank_id)
        WHERE user_id = #{ userId } AND is_deleted = 'N'
    </select>

    <select id="findUserByUserIdAndEmail" resultType="com.hanhwa_tae.secondserver.user.command.domain.aggregate.User">
        SELECT
              user_id
            , email
        FROM
            user
        WHERE
            user_id= #{userId}
        AND email = #{email}
        AND is_deleted ='N'
    </select>

    <select id="findUserByEmail" resultType="com.hanhwa_tae.secondserver.user.command.domain.aggregate.User">
        SELECT user_id, email FROM user WHERE email = #{ email } AND is_deleted = 'N'
    </select>

    <select id="findUserByPhone" resultType="com.hanhwa_tae.secondserver.user.command.domain.aggregate.User">
        SELECT
        b.phone as "user_info.phone"
        FROM user a
        JOIN user_info b ON (a.user_no = b.user_no)
        WHERE b.phone = #{ phone }
    </select>

    <select id="findUserInfoByUserId" resultType="com.hanhwa_tae.secondserver.user.query.dto.response.UserInfoResponse">
        SELECT
        a.user_id
        , a.username
        , a.email
        , a.gender
        , b.birth
        , b.phone
        , b.address
        , c.rank_name
        , c.point_rate
        , b.point
        FROM user a
        JOIN user_info b ON (a.user_no = b.user_no)
        JOIN rank c ON (a.rank_id = c.rank_id)
        WHERE a.user_id = #{ userId }
        AND a.is_deleted = 'N'
    </select>

    <select id="findUserByUserNo" resultType="com.hanhwa_tae.secondserver.user.command.domain.aggregate.User">
        SELECT
        user_no
        , user_id
        , password
        , email
        , gender
        , rank_id
        , login_type
        , is_deleted
        , username
        FROM
        user
        WHERE user_no = #{userNo} AND is_deleted = 'N'
    </select>

    <select id="findAllRank" resultType="com.hanhwa_tae.secondserver.user.command.domain.aggregate.Rank">
        SELECT
        rank_name
        , point_rate
        FROM rank
    </select>

</mapper>