<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="https://static.toss.im/icons/png/4x/icon-toss-logo.png" />
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>토스페이먼츠 샘플 프로젝트</title>
  <!-- SDK 추가 -->
  <script src="https://js.tosspayments.com/v2/standard"></script>
</head>

<body>
<!-- 주문서 영역 -->
<div class="wrapper">
  <div class="box_section" style="padding: 40px 30px 50px 30px; margin-top: 30px; margin-bottom: 50px">
    <!-- 결제 UI -->
    <div id="payment-method"></div>
    <!-- 이용약관 UI -->
    <div id="agreement"></div>
    <!-- 쿠폰 체크박스 -->
    <div style="padding-left: 30px">
      <div class="checkable typography--p">
        <label for="coupon-box" class="checkable__label typography--regular"
        ><input id="coupon-box" class="checkable__input" type="checkbox" aria-checked="true" /><span class="checkable__label-text">포인트 적용</span></label
        >
      </div>
    </div>
    <!-- 결제하기 버튼 -->
    <button class="button" id="payment-button" style="margin-top: 30px">결제하기</button>
  </div>
  <div class="box_section" style="padding: 40px 30px 50px 30px; margin-top: 30px; margin-bottom: 50px">
    <!-- 브랜드페이만 연동하기 -->
    <button class="button" id="brandpay-button" style="margin-top: 30px">위젯 없이 브랜드페이만 연동하기</button>
    <!-- 결제창만 연동하기 -->
    <button class="button" id="payment-window-button" style="margin-top: 30px">위젯 없이 결제창만 연동하기</button>
  </div>
</div>
<script>
  main();
 let token = null;
  async function main() {
    const button = document.getElementById("payment-button");
    const coupon = document.getElementById("coupon-box");
    /*로그인 후 accesstoken 받아오기*/
    const loginAndFetch = async () => {
      try {
        // 1. 로그인 요청 → accessToken 발급
        const loginResponse = await fetch("/api/v1/s2/auth/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            userId: "user01",
            password: "pass01"
          })
        });

        const loginData = await loginResponse.json();

        if (!loginData.data || !loginData.data.accessToken) {
          throw new Error("토큰을 받아오지 못했습니다.");
        }

        token = loginData.data.accessToken;
        console.log(token);
        // 2. sessionStorage에 토큰 저장
        sessionStorage.setItem("accessToken", token);


      }catch (err) {
        console.error("로그인 또는 데이터 요청 실패:", err);
      }
    };

    // 실행
    await loginAndFetch();
    /*백엔드의 값 가져오기*/
    const response = await fetch("/api/v1/s1/payment/value",
            {
              method: "GET",
              headers: {
                "Authorization": `Bearer ${token}`
              }
            }

    );
    const data = await response.json();

    const value = data.value;
    const orderId = data.orderId;
    const amount = {
      currency: "KRW",
      value: value,
    };
    // ------  결제위젯 초기화 ------
    // @docs https://docs.tosspayments.com/sdk/v2/js#토스페이먼츠-초기화
    const key_response = await fetch("/api/v1/s1/payment/key",
            {
              method: "GET",
              headers: {
                "Authorization": `Bearer ${token}`
              }
            }
    );
    const temp_key = await key_response.json();
    const clientKey = temp_key.keyValue;

    const customerKey = generateRandomString();
    const tossPayments = TossPayments(clientKey);
    // 회원 결제
    // @docs https://docs.tosspayments.com/sdk/v2/js#tosspaymentswidgets
    const widgets = tossPayments.widgets({
      customerKey,
    });
    // ------  주문서의 결제 금액 설정 ------
    // @docs https://docs.tosspayments.com/sdk/v2/js#widgetssetamount
    await widgets.setAmount(amount);

    await Promise.all([
      // ------  결제 UI 렌더링 ------
      // @docs https://docs.tosspayments.com/sdk/v2/js#widgetsrenderpaymentmethods
      widgets.renderPaymentMethods({
        selector: "#payment-method",
        // 렌더링하고 싶은 결제 UI의 variantKey
        // 결제 수단 및 스타일이 다른 멀티 UI를 직접 만들고 싶다면 계약이 필요해요.
        // @docs https://docs.tosspayments.com/guides/v2/payment-widget/admin#새로운-결제-ui-추가하기
        variantKey: "DEFAULT",
      }),
      // ------  이용약관 UI 렌더링 ------
      // @docs https://docs.tosspayments.com/sdk/v2/js#widgetsrenderagreement
      widgets.renderAgreement({
        selector: "#agreement",
        variantKey: "AGREEMENT",
      }),
    ]);

    // ------  주문서의 결제 금액이 변경되었을 경우 결제 금액 업데이트 ------
    // @docs https://docs.tosspayments.com/sdk/v2/js#widgetssetamount
    coupon.addEventListener("change", async function () {
      if (coupon.checked) {
        await widgets.setAmount({
          currency: "KRW",
          value: amount.value - 5000,
        });

        return;
      }

      await widgets.setAmount({
        currency: "KRW",
        value: amount.value,
      });
    });
    const payinfo_response = await fetch("/api/v1/s1/payment/payinfo",
            {
              method: "GET",
              headers: {
                "Authorization": `Bearer ${token}`
              }
            });
    const info_data = await payinfo_response.json();

    const username = info_data.username;
    const email = info_data.email;
    const ordername = info_data.ordername;



    // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
    // @docs https://docs.tosspayments.com/sdk/v2/js#widgetsrequestpayment
    button.addEventListener("click", async function () {

      await widgets.requestPayment({
        orderId: orderId,
        orderName: ordername,
        successUrl: window.location.origin + "/widget/success?accessToken=" + token,
        failUrl: window.location.origin + "/widget/fail?accessToken=" + token,
        customerEmail: email,
        customerName: username,
        // 가상계좌 안내, 퀵계좌이체 휴대폰 번호 자동 완성에 사용되는 값입니다. 필요하다면 주석을 해제해 주세요.
        // customerMobilePhone: "01012341234",
      });
    });
  }

  document.getElementById("payment-window-button").addEventListener("click", () => {
    location.href = "/payment/checkout.html";
  });

  document.getElementById("brandpay-button").addEventListener("click", () => {
    location.href = "/brandpay/checkout.html";
  });

  function generateRandomString() {
    return window.btoa(Math.random()).slice(0, 20);
  }
</script>
</body>
</html>